div.form-input {
    
}
div.form-input label {
    width:100%;
    display:block;
    margin-bottom:0.5rem;
}
div.form-input input {
    font-size:1.0rem;
    padding:0.25rem 0.5rem;
}
div.form-input input::placeholder {
    color:#B2B2B2;
}