.login-container {
    display:flex;
    justify-content:center;
    align-items:flex-start;
    height:90vh;
    text-align:left;
}
.login-container h1 {
    text-align:center;
    margin-bottom:4rem;
}

.login-container .login {
    width:100%;
    padding:2rem;
    max-width:400px;
    min-width:50px;
}

p.nav-link { 
    text-align:center;
}