h1, h2, h3, h4, h5 {
    font-weight:normal;
}
h1 {
    font-size:32pt;
}
h2 {
    font-size:24pt;
}
h3 {
    font-size:18pt;
}
h4 {
    font-size:16pt;
}
h5 {
    font-size:14pt;
}

a:link, a:visited {
    text-decoration:none;
    color:#666666;
}

a:link.active, a:visited.active {
    color:#ec2624;
}