header.App-header {
  background-color:#ffffff;
}

.App-Mobile-Menu {
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  background-color:#fff;
  display:flex; /* assuming mobile support only */
  align-items:center;
  justify-content:center;
  flex-direction:column;
}
.App-Mobile-Menu h1, h3 {
  margin:1rem;
}
.App-Mobile-Menu .Close-Menu {
  position:absolute;
  top:0;
  right:0;
  font-size:2rem;
  font-weight:100;
}

div.logo {
  width:50%;
  display:inline-block;
}
div.logo img {
  margin:1rem;
}

div.nav {
  display:inline-block;
  text-align:right;
  width:50%;
}

div.hamburger {
  display:inline-block;
  margin:2rem;
}
div.hamburger span {
  height: 0.25rem;
  width: 2rem;
  background-color: #666666;
  display: block;
  margin-bottom: 7px;
}

/* Robots */
section.robots {
  padding:1rem;
}
section.robots .robot {
  background-color:#ffffff;
  text-align:center;
  padding:1rem;
  margin-bottom:2rem;
}
section.robots .robot img {
  width:80%;
}

/* Results */
section.robots .robot img.robot-image-small {
  width:50px;
  height:50px;
}
section.robots .robot.result {
  display:flex;
  justify-content: space-between;
  align-items:center;
  flex-grow:1;
}
section.robots .robot.result h2 {
  margin:0px 1rem;
}
