header.App-header {
  background-color:#ffffff;
  display:flex;
  flex-direction:row;
  align-items:center;
}

.App-Mobile-Menu {
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  background-color:#fff;
  display:flex; /* assuming mobile support only */
  align-items:center;
  justify-content:center;
  flex-direction:column;
  text-align:center;
}
.App-Mobile-Menu h1, h3 {
  margin:1rem;
}
.App-Mobile-Menu .Close-Menu {
  position:absolute;
  top:0;
  right:0;
  font-size:2rem;
  font-weight:100;
}

.x {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  transition: transform .25s ease-in-out;
  padding:1rem; 
}
.x:hover {
  transform: rotate(180deg);
}
.x:before {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  height: 0;
  border-top: 4px solid rgba(0,0,0,0.5);
  transform: rotate(45deg);
  transform-origin: center;
}
.x:after {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  height: 0;
  border-top: 4px solid rgba(0,0,0,0.5);
  transform: rotate(-45deg);
  transform-origin: center;
}

div.logo {
  width:50%;
  display:inline-block;
}

div.logo img {
  margin:1rem;
}

div.nav {
  display:inline-block;
  text-align:right;
  width:50%;
}

.nav-large {
  display:none;
}
.nav-large .inner-menu h1, .nav-large .inner-menu h3 {
  float:left;
  font-size:1rem;
  margin:15px 2rem;
}

div.hamburger {
  display:inline-block;
  margin:2rem;
}
div.hamburger span {
  height: 0.25rem;
  width: 2rem;
  background-color: #666666;
  display: block;
  margin-bottom: 7px;
}

/* Robots */
section.robots {
  padding:1rem;

}
section.robots .robot {
  text-align:center;
  margin:auto auto 2rem auto;
  padding:1rem;
}
section.robots .robot .inner {
  background-color:#ffffff;
  padding:2rem;  

}
section.robots .robot div.img {
  width:100%;
  height:220px;
  background-size:cover;
}

/* Results */
section.robots .robot img.robot-image-small {
  width:50px;
  height:50px;
}
section.robots .robot.result .inner {
  display:flex;
  justify-content: space-between;
  align-items:center;
  flex-grow:1;
}
section.robots .robot.result h2 {
  margin:0px 1rem;
}

@media (min-width: 768px) {  
  div.logo {
    width:25%;
  }
  div.nav {
    width:75%;
  }
  .nav-large {
    display:block;
  }
  div.hamburger {
    display:none;
  }
  section.robots .robot:not(.result) {
    width:50%;
    box-sizing:border-box;
    float:left;
  }
}

@media (min-width: 1024px) {
  section.robots .robot:not(.result) {
    width:25%;
    box-sizing:border-box;
    float:left;
  }
}